body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background for contrast */
}
.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slide {
    display: none;
}

.slide img {
    width: auto;
    height: 100vh;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #74D0F5; /* Primary color */
    color: #fff; /* White text */
}

.social-icons a {
    margin: 0 10px;
    color: #fff; /* White icons */
    text-decoration: none;
    font-size: 20px; /* Icon size */
}

.social-icons a:hover {
    color: #D7EFFC; /* Light primary color on hover */
}

p {
    margin: 10px 0 0;
}